In [4]:
import pandas as pd

In [18]:
agg = pd.read_csv("data/aggregate.csv")

agg.head()

,EncouragingDiscouraging,ExpertiseScale,PosterTone,RespectfulDisrespectful,gender,speakerhidden,talkid
0,Discouraging,None-STEM degree,Negative,Neutral,male,"<br>for those who are interested, penn &amp; t...",1829
1,Discouraging,No degree,None,Neutral,male,one time i saw a parrent yelling to his child ...,1917
2,Encouraging,STEM degree,Neutral,Neutral,female,"<br><span class=""highlighted"" data-timestamp=""...",1238
3,Encouraging,None-STEM degree,Positive,Respectful,male,beyond the tremendous positive change this may...,525
4,Encouraging,STEM degree,None,Neutral,male,"his notion that the ""media is the message"" mak...",1370